[run]
source = .
omit = */migrations/*,*/tests.py,*/tests/*,*/admin.py
relative_files = True
branch = True

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError