/* Import common styles */
@import "./CommonPageStyles.css";

.buttons {
  justify-content: space-between; /* Override from common styles if needed */
}

.next {
  background-color: #007bff;
  color: white;
}

.prev {
  background-color: #6c757d;
  color: white;
}
